.microphone, .camera, .music, .box, .chat, .left, .right {
    display: inline-block;
    margin: 15px;
    margin-top: 20px;
    position: relative;
    left: 20px;
}

.right {
    position: absolute;
    left: 180px;
    top: 20px;
    margin: 0px;
}

.toolbar { 
    position: absolute; 
    bottom: 0px; 
    background:white;
    height: 8vh;
    width: 100%;
}

.toolbar img {
    margin: auto;
    width: 70%;
}

.btnSignOut {
    position: absolute;
    top: 80%;
    left: 80%;
}

.top {
    position: absolute; 
    top: 0px; 
    background:white;
    height: 8vh;
    width: 100%;
    display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top span{
    font-size: 2em;
    font-weight: bolder;
    color:#54B944;
    padding-left: 2em;
}