@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Play:400");

@font-face {
  font-family: "SF Pro Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/SFProDisplay-Medium") format("opentype");
}

@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SFProDisplay-Regular") format("opentype");
}

* {
  box-sizing: border-box;
}
.border-class-1 {
  border: 1px solid rgba(196, 196, 196, 0.13);
}
.pingfangtc-medium-black-10px {
  color: black;
  font-family: "PingFang TC-Medium", Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.nowrap{
  white-space: nowrap;
}



.pingfangtc-medium-black-25px {
  color: black;
  font-family: "PingFang TC-Medium", Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.pingfangtc-medium-concord-8px {
  color: var(--concord);
  font-family: "PingFang TC-Medium", Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
}
.pingfangtc-medium-granite-gray-8px {
  color: var(--granite-gray);
  font-family: "PingFang TC-Medium", Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
}
.pingfangtc-normal-apple-8px {
  color: var(--apple);
  font-family: "PingFang TC-Semibold", Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}
.pingfangtc-regular-normal-black-15px {
  color: black;
  font-family: "PingFang TC-Regular", Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.play-normal-black-8px {
  color: black;
  font-family: "Play", Helvetica;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}
.room-list {
  align-items: center;
  background-color: var(--athens-gray);
  display: flex;
  flex-direction: column;
  
}
.room-list .auto-flex {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 26px;
  width: 59px;
}
.room-list .auto-flex1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 26px;
  width: 65px;
}
.room-list .auto-flex2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 25px;
  width: 110px;
}
.room-list .auto-flex3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 25px;
  width: 18px;
}
.room-list .avatar {
  height: 30px;
  width: 30px;
}
.room-list .bottom {
  align-items: center;
  display: flex;
  height: 15px;
  margin-top: 16px;
  min-width: 269px;
}
.room-list .brand-name {
  letter-spacing: 0px;
  min-height: 35px;
  min-width: 141px;
}
.room-list .col1 {
  margin-left: 24px;
}
.room-list .col2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 516px;
  width: 299px;
}
.room-list .contact {
  align-items: flex-start;
  display: flex;
  height: 34px;
  min-width: 216px;
}
.room-list .contact2 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  margin-right: 0.5px;
  min-width: 216px;
}
.room-list .contact4 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  min-width: 216px;
}
.room-list .contacts {
  letter-spacing: 0px;
  min-height: 35px;
  width: 110px;
}
.room-list .divider {
  height: 501px;
  margin-left: 55px;
  width: 1px;
}
.room-list .ellipse-17 {
  height: 7px;
  width: 7px;
}
.room-list .group-1 {
  height: 30px;
  margin-left: 2px;
  width: 30px;
}
.room-list .group-16 {
  height: 30px;
  width: 30px;
}
.room-list .group-63 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-bottom: 2px;
  margin-left: 74px;
  min-width: 44px;
}
.room-list .group-63-1 {
  margin-bottom: 5px;
  margin-left: 67px;
}
.room-list .group-63-2 {
  margin-bottom: 6px;
  margin-left: 23px;
}
.room-list .group-63-3 {
  margin-bottom: 5px;
  margin-left: 115px;
}
.room-list .group-77 {
  align-items: flex-end;
  background-color: var(--mercury);
  border-radius: 5px;
  display: flex;
  height: 30px;
  left: 43px;
  min-width: 30px;
  padding: 7px;
  position: absolute;
  top: 3px;
}
.room-list .help {
  align-items: flex-start;
  display: flex;
  margin-left: 30px;
  min-width: 72px;
}
.room-list .help-1 {
  align-self: center;
  height: 20px;
  letter-spacing: 0px;
  line-height: 20px;
  margin-bottom: 0.12px;
  margin-left: 10px;
  min-height: 20px;
  min-width: 38px;
  white-space: nowrap;
}
.room-list .icons8- {
  height: 15px;
  object-fit: cover;
  width: 15px;
}
.room-list .icons8--1 {
  height: 10px;
  object-fit: cover;
  width: 10px;
}
.room-list .invite {
  align-items: flex-end;
  background-color: var(--mercury);
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  left: 0px;
  min-width: 30px;
  padding: 7px;
  position: absolute;
  top: 3px;
}
.room-list .left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 567px;
  width: 622px;
}
.room-list .list {
  align-items: flex-end;
  background-color: white;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 498px;
  padding: 16px 12px;
  width: 243px;
}
.room-list .main {
  align-items: center;
  display: flex;

  left: 0px;
  min-width: 977px;
  position: absolute;
  top: 0px;
}
.room-list .middle {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 126px;
  margin-left: 2px;
  margin-top: 16px;
  min-width: 222px;
}
.room-list .more-1 {
  height: 4px;
  object-fit: cover;
  width: 15px;
}
.room-list .more-btn {
  align-items: flex-end;
  display: flex;
  margin-left: 34px;
  min-width: 115px;
}
.room-list .more-btn-1 {
  align-items: center;
  background-color: var(--mercury);
  border-radius: 5px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 30px;
  padding: 0 7px;
}
.room-list .name {
  font-family: "PingFang TC-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-left: 10px;
  min-height: 20px;
  min-width: 81px;
}
.room-list .name-1 {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .name-2 {
  letter-spacing: 0px;
  min-height: 14px;
  white-space: nowrap;
}
.room-list .name-3 {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .name-4 {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .name-5 {
  letter-spacing: 0px;
  min-height: 20px;
  
}
.room-list .name-6 {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .name-7 {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .name-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 126px;
  width: 94px;
}
.brand-name{
padding-top: 10px;
}
.room-list .nav {
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  display: flex;
  height: 64px;
  width: 100%;
justify-content: center;
}
.room-list .navigation {
  align-items: flex-start;
  display: flex;
  height: 25px;
  margin-left: 126px;
  min-width: 318px;
}
.room-list .new-room-btn {
  align-items: flex-end;
  display: flex;
  height: 50px;
  left: 600px;
  min-width: 50px;
  position: absolute;
  top: 516px;
}
.room-list .nix-yang {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .notification {
  height: 10px;
  left: 67px;
  position: absolute;
  top: 0px;
  width: 10px;
}
.room-list .online {
  letter-spacing: 0px;
  margin-top: 1px;
  min-height: 11px;
}
.room-list .overlap-group {
  height: 567px;
  position: relative;
  width: 977px;
}
.room-list .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--tea-green);
  border-radius: 5px;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  min-width: 42px;
  padding: 4px 6px;
}
.room-list .overlap-group1 {
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 77px;
}
.room-list .overlap-group1-1 {
  align-self: flex-end;
  height: 32px;
  position: relative;
  width: 34px;
}
.room-list .overlap-group2 {
  height: 33px;
  position: relative;
  width: 77px;
}
.room-list .overlap-group5 {
  align-self: flex-end;
  height: 33px;
  position: relative;
  width: 34px;
}
.room-list .overlap-group6 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  margin-bottom: -4px;
  min-width: 54px;
  padding: 17px;
}
.room-list .partying {
  letter-spacing: 0px;
  min-height: 9px;
  min-width: 40px;
}
.room-list .partying-1 {
  align-items: flex-end;
  display: flex;
  min-width: 52px;
}
.room-list .people {
  align-items: flex-start;
  display: flex;
  margin-left: 45px;
  margin-top: 0.12px;
  min-width: 84px;
}
.room-list .people-1 {
  align-self: center;
  height: 20px;
  letter-spacing: 0px;
  line-height: 20px;
  margin-bottom: 0.25px;
  margin-left: 10px;
  min-height: 20px;
  min-width: 50px;
  white-space: nowrap;
}
.room-list .personal-btn {
  align-items: center;
  display: flex;
  min-width: 121px;
}
.room-list .profile-pic {
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.room-list .qianwen-jia {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 580px;
  min-height: 549px;
  width: 243px;
}
.room-list .room-avatars {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 62px;
  width: 126px;
}
.room-list .room-cards {
  align-items: flex-start;
  display: flex;
  height: 516px;
  margin-top: 16px;
  min-width: 622px;
}
.room-list .room-name {
  letter-spacing: 0px;
  min-height: 11px;
}
.room-list .room-people {
  align-items: flex-start;
  display: flex;
  height: 11px;
  min-width: 29px;
}
.room-list .rooms {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  min-width: 89px;
}
.room-list .rooms-1 {
  align-self: center;
  height: 20px;
  letter-spacing: 0px;
  line-height: 20px;
  margin-bottom: 1.5px;
  margin-left: 10px;
  min-height: 20px;
  min-width: 55px;
  white-space: nowrap;
}
.room-list .rooms-2 {
  letter-spacing: 0px;
  min-height: 35px;
}
.room-list .row1 {
  align-items: flex-start;
  display: flex;
  min-width: 126px;
}
.room-list .row2 {
  margin-top: 2px;
}
.room-list .sky {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .status {
  letter-spacing: 0px;
  margin-top: 1px;
  min-height: 11px;
}
.room-list .status-offline {
  top: 21px;
}
.room-list .status-online {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 11px;
  left: 23px;
  min-width: 11px;
  padding: 0 2px;
  position: absolute;
  top: 22px;
}
.room-list .text- {
  letter-spacing: 0px;
  line-height: 14px;
  margin-top: 3px;
  min-height: 28px;
  width: 269px;
}
.room-list .text--1 {
  letter-spacing: 0px;
  margin-left: 3px;
  min-height: 11px;
}
.room-list .text--2 {
  letter-spacing: 0px;
  margin-left: 223px;
  min-height: 15px;
  min-width: 17px;
}
.room-list .time {
  letter-spacing: 0px;
  min-height: 11px;
}
.room-list .title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 41px;
  width: 269px;
}
.room-list .user {
  align-items: flex-end;
  display: flex;
  margin-left: 128px;
  min-width: 270px;
}
.room-list .vanessaaaay {
  letter-spacing: 0px;
  min-height: 14px;
}
.room-list .x-icon {
  height: 24px;
  margin-top: -0.25px;
  width: 24px;
}
.room-list .x-join {
  letter-spacing: 0px;
  min-height: 8px;
  width: 40px;
}
.room-list .x1 {
  height: 16px;
  object-fit: cover;
  width: 16px;
}
.room-list .x1st {
  align-items: flex-end;
  background-color: white;
  border-radius: 13px;
  box-shadow: 0px 0px 5px rgba(255, 30, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 246px;
  padding: 16px 14px;
  width: 299px;
}
.room-list .x2nd {
  margin-top: 24px;
}
.room-list .zixiao-huang {
  letter-spacing: 0px;
  min-height: 14px;
}
.sfprodisplay-medium-gray-chateau-16px {
  color: var(--gray-chateau);
  font-family: "SF Pro Display-Medium", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.sfprodisplay-regular-normal-baltic-sea-18px {
  color: var(--baltic-sea);
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.sfprodisplay-regular-normal-gray-chateau-18px {
  color: var(--gray-chateau);
  font-family: "SF Pro Display-Regular", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --apple: rgba(84, 184, 67, 1);
  --athens-gray: rgba(234, 237, 242, 1);
  --baltic-sea: rgba(40, 43, 49, 1);
  --concord: rgba(124, 124, 124, 1);
  --granite-gray: rgba(102, 102, 102, 1);
  --gray-chateau: rgba(166, 173, 177, 1);
  --mercury: rgba(231, 231, 231, 1);
  --tea-green: rgba(208, 233, 188, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > #root > div {
  height: 100vh;
}