.page {
  position: absolute;
  left: 50%;
  top: 45%;
  text-align: left;
  transform: translate(-50%, -50%)
}

#join_room {
  
}

.dice_icon {
  position: relative;
  left: 80px;
  top: 37px
}

.join_btn {
  text-align: center;
}

.device_access {
  position: absolute;
  top: 60% ; 
  left: 30%;
}

.microphone {
  display: inline-block;
  margin: 15px;
}


.camera {
  display: inline-block
}

.btnSignOut {
  position: absolute;
  top: 80%;
  left: 80%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
